<div class="m-t-3"></div>
    <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img src="<%= @user.avatar.url %>" width=250 height=250  class="img-circle" >
            </div>
            <div class="col-md-8">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#main-user-tab" role="tab">Main</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tobe" role="tab">Region settings</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active p-t-1 profile-tab" id="main-user-tab" role="tabpanel">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-xs-4 col-form-label">Email</label>
                    <div class="col-xs-8">
                      <%= @user.email %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-xs-4 col-form-label">Name</label>
                    <div class="col-xs-8">
                      <%= @user.first_name %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-xs-4 col-form-label">Surname</label>
                    <div class="col-xs-8">
                      <%= @user.last_name %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-xs-4 col-form-label">Role</label>
                    <div class="col-xs-8">
                      <%= @user.role %>
                    </div>
                  </div>
                </div>
                
                <div class="tab-pane p-t-1 profile-tab" id="tobe" role="tabpanel">
                  <div class="form-group row">
                    <label for="example-email-input" class="col-xs-4 col-form-label">Time zone</label>
                    <div class="col-xs-8">
                      <%= @user.time_zone %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

