
        <div class=row>
              <table id="big-mama" class="big-mama" data-sortable >
                <thead>
                  <th></th>
                  <th class="first-col text-cut" style="min-width:300px !important;">
                    Test
                  </th>
                  <th class="first-col text-cut">
                    Host
                  </th>
                  <th class="first-col text-cut">
                    Reported
                  </th>
                  <th class="first-col text-cut">
                    Total Time
                  </th>
                  <th class="first-col text-cut">
                    Comment
                  </th>
                </thead>
                <tbody>
                <% hash.each do |id, rlink| %>
                  <tr>
                    <td>
                      <% if current_user.open_in_new_tab%>  
                        <%= render :partial => 'reports/icon', :locals => {:report => rlink } %>  
                      <% else %>
                        <%= render :partial => 'reports/icon_ajax', :locals => {:report => rlink } %>  
                      <% end %>
                    </td>
                    <td  class="first-col text-cut"><%= rlink.test_case_name %></td>
                    <td  class="first-col text-cut"><%= rlink.host.name if !rlink.host.blank? %></td>
                    <td  class="first-col text-cut"><%= rlink.created_at.strftime("%d %B %H:%M") if !rlink.created_at.blank? %></td>
                    <td  class="first-col text-cut"><%= rlink.total_time %></td>
                    <td  class="first-col text-cut"><%= rlink.comment %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
        </div>
      