<!--test-->
<style type="text/css">
td {padding:3px !important}
</style>

<table class="align width">
  <tr><td class="b0 left">
  <h2>Builds</h2>
  </td><td class="b0 right">
  <%= link_to new_product_version_build_path(@product,@version), class: 'btn btn-primary pull-xs-right m-x-auto m-l-1' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Build
  <% end %>
  </td>
  <tr>
</table>

<br><br><br><br>

<div class="table-responsive dl-horizontal" style="font-family:Arial;font-size:14px">
  <table class="table">
    <thead>
      <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Description</th>
            <th></th>
        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @builds) do |build| %>
            <td style="text-align:left !important;">&nbsp;<%= link_to build.name, product_version_build_path(@product,@version,build) %></td>
            <td style="text-align:left !important;">&nbsp;<%= build.created_at.strftime("%d %B %H:%M") %></td>
            <td style="text-align:left !important;">&nbsp;<%= build.description %></td>
            <td>
            <%= link_to 'Show', product_version_build_path(@product,@version,build), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_product_version_build_path(@product,@version,build), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', product_version_build_path(@product,@version,build), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
