<!--http://www.havlena.net/en/programming/d3stackedbar-d3js-responsive-stacked-bar-with-legend-tooltip-and-transitions/-->
<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% error_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% graph_hash['passed'] = 0 %>
<% graph_hash['failed'] = 0 %>
<% graph_hash['investigated'] = 0 %>

<% @build.report_links.each do |rlink| %>
  <% if rlink.result %>
    <% graph_hash['passed'] += 1 %>
  <% else %>
    <% graph_hash['failed'] += 1 %>
    <% error_hash[rlink.error].store(rlink.report_id,rlink)  %>
    <% if !rlink.investigation_result.blank? %>
      <% graph_hash['investigated'] += 1 %>
    <% end %>
  <% end %>
<% end %>

<% json = '{"name":"root",
            "children":[
              {
                "name":"Passed",
                "size":"'+graph_hash['passed'].to_s+'"
              },
              {"name":"Failed",
                "size":"'+graph_hash['failed'].to_s+'"'+(graph_hash['investigated'] > 0 ? ',
                "children":[
                  {
                    "name":"Investigated",
                    "size":"'+graph_hash['investigated'].to_s+'"
                  },
                  {
                    "name":"Not investigated",
                    "size":"'+(graph_hash['failed']-graph_hash['investigated']).to_s+'"
                  }
                ]' : ""  )+'}
            ]}'%>

<div class="container m-t-1 m-b-1">
  <%= link_to product_version_builds_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    Back
  <% end %>
  <%= link_to edit_product_version_build_path(@product,@version,@build), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <h1>Show build</h1>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <dl class="dl-horizontal">
      <dt>Name: <%= @build.name %></dt>
      <dt>Passed: <%= graph_hash['passed'] %> </dt>
      <dt>Failed: <%= graph_hash['failed'] %></dt>
      <dt>Investigated: <%= graph_hash['investigated']  %></dt>
      <dt>Description: <%= @build.description %></dt>
    </dl>
  </div>
  <div class="col-sm-5">
    <div id="main">
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
        </div>
      </div>
       <div id="sequence"></div>
    </div>
    <div id="sidebar">
      <input type="checkbox" id="togglelegend"> Legend<br/>
      <div id="legend" style="visibility: hidden;"></div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="container">
  <table class="table table-bordered table-hover big-mama">
  <% error_hash.each do |err, rlinks| %>
    <tr >
      <td colspan=4>
        <b><%=err%>(rlinks.count)</b>    
      </td>
    </tr>
    <% rlinks.each do |key, rlink| %>
      <tr>
        <td><%= rlink.suite_name %></td>
        <td><%= render :partial => 'reports/icon', :locals => {:report => rlink } %></td>
        <td><%= rlink.comment %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>
<%= javascript_include_tag "builds.js" %>
<script>
  build_pie_json =`<%= raw(json) %>`;
  showPieGraph(build_pie_json);
</script>
