<!--http://www.havlena.net/en/programming/d3stackedbar-d3js-responsive-stacked-bar-with-legend-tooltip-and-transitions/-->
<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% error_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% graph_hash['passed'] = 0 %>
<% graph_hash['failed'] = 0 %>
<% graph_hash['investigated'] = 0 %>

<% @build.report_links.each do |rlink| %>
  <% if rlink.result %>
    <% graph_hash['passed'] += 1 %>
  <% else %>
    <% graph_hash['failed'] += 1 %>
    <% error_hash[rlink.error].store(rlink.report_id,rlink)  %>
    <% if !rlink.investigation_result.blank? %>
      <% graph_hash['investigated'] += 1 %>
    <% end %>
  <% end %>
<% end %>

<% json = '{"name":"root",
            "children":[
              {
                "name":"Passed",
                "size":"'+graph_hash['passed'].to_s+'"
              },
              {"name":"Failed",
                "size":"'+graph_hash['failed'].to_s+'"'+(graph_hash['investigated'] > 0 ? ',
                "children":[
                  {
                    "name":"Investigated",
                    "size":"'+graph_hash['investigated'].to_s+'"
                  },
                  {
                    "name":"Not investigated",
                    "size":"'+(graph_hash['failed']-graph_hash['investigated']).to_s+'"
                  }
                ]' : ""  )+'}
            ]}'%>

<div class="container m-t-1 m-b-1">
  <%= link_to product_version_builds_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    Back
  <% end %>
  <%= link_to edit_product_version_build_path(@product,@version,@build), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-6 text-xs-right" ><strong>Name:</strong></div><div class=col-sm-6><%= @build.name %></div>
      <div class="col-sm-6 text-xs-right"><strong>Passed:</strong></div><div class=col-sm-6><%= graph_hash['passed'] %></div>
      <div class="col-sm-6 text-xs-right"><strong>Failed:</strong></div><div class=col-sm-6><%= graph_hash['failed'] %></div>
      <div class="col-sm-6 text-xs-right"><strong>Description:</strong></div><div class=col-sm-6><%= @build.description %></div>
    </div>
  </div>
  <div class="col-sm-5">
    <div id="main">
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
        </div>
      </div>
       <div id="sequence"></div>
    </div>
    <div id="sidebar">
      <input type="checkbox" id="togglelegend"> Legend<br/>
      <div id="legend" style="visibility: hidden;"></div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class=col-sm-2></div>
  <div class=col-sm-10>
      <% i=0 %>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <% error_hash.each do |err, rlinks| %>
        <% i+=1 %>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= i%>" aria-expanded="true" aria-controls="collapse-<%= i%>">
                  <span class="tag tag-danger tag-pill pull-xs-left m-l-1"><%= rlinks.count %></span>
                  <%= err %>
                </a>
            </div>
            <div id="collapse-<%= i%>" class="collapse" role="tabpanel" aria-labelledby="heading-<%= i%>">
              <div class="card-block">
                <% rlinks.each do |key, rlink| %>
                <div class="row">
                  <div class="col-sm-3"><%= rlink.suite_name %></div>
                  <div class="col-sm-3"><%= render :partial => 'reports/icon', :locals => {:report => rlink } %></div>
                  <div class="col-sm-3"><%= rlink.comment %></div>
                  <div class="col-sm-3"></div>
                </div>
                <% end %>      
              </div>
            </div>
          </div>  
        <% end %>
      </div>
  </div>
  <div class=col-sm-2></div>
</div>

<%= javascript_include_tag "builds.js" %>
<script>
  build_pie_json =`<%= raw(json) %>`;
  showPieGraph(build_pie_json);
</script>
