<!--http://www.havlena.net/en/programming/d3stackedbar-d3js-responsive-stacked-bar-with-legend-tooltip-and-transitions/-->
<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% graph_hash['passed'] = 0 %>
<% graph_hash['failed'] = 0 %>
<% @build.report_links.each do |rlink| %>
  <% if rlink.result %>
    <% graph_hash['passed'] += 1 %>
  <% else %>
    <% graph_hash['failed'] += 1 %>
  <% end %>
<% end %>

<% json = '{"name":"root",
            "children":[
              {"name":"passed",
                "size":"'+graph_hash['passed'].to_s+'"
              },
              {"name":"failed",
                "size":"'+graph_hash['failed'].to_s+'"
              }
            ]}'%>

<div class="container m-t-1 m-b-1">
  <%= link_to product_version_builds_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    Back
  <% end %>
  <%= link_to edit_product_version_build_path(@product,@version,@build), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <h1>Show build</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd><%= @build.name %></dd>
      
      <dt>Passed:</dt>
      <dd> <% graph_hash['passed'] %></dd>
      
      <dt>Failed:</dt>
      <dd> <%= graph_hash['failed'] %></dd>
      
      <dt>Description:</dt>
      <dd><%= @build.description %></dd>
    
    </dl>
  </div>
  <div class="col-sm-6">
    <div id="main">
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
        </div>
      </div>
       <div id="sequence"></div>
    </div>
    <div id="sidebar">
      <input type="checkbox" id="togglelegend"> Legend<br/>
      <div id="legend" style="visibility: hidden;"></div>
    </div>
  </div>
</div>
<%= javascript_include_tag "builds.js" %>
<script>
  var json =`<%= raw(json) %>`;
  createVisualization(JSON.parse(json));
</script>
<style>
#main {
  float: left;
  width: 175px;
}

#sidebar {
  float: right;
  width: 30px;
}

#sequence {
  width: 300px;
  height: 35px;
}

#legend {
  padding: 5px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 150;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 75px;
  left: 60px;
  width: 30px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 1.75em;
}
</style>