<!--http://www.havlena.net/en/programming/d3stackedbar-d3js-responsive-stacked-bar-with-legend-tooltip-and-transitions/-->
<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% error_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<% graph_hash['passed'] = 0 %>
<% graph_hash['failed'] = 0 %>
<% graph_hash['investigated'] = 0 %>

<% @build.report_links.each do |rlink| %>
  <% if rlink.result %>
    <% graph_hash['passed'] += 1 %>
  <% else %>
    <% graph_hash['failed'] += 1 %>
    <% error_hash[rlink.error].store(rlink.report_id,rlink)  %>
    <% if !rlink.investigation_result.blank? %>
      <% graph_hash['investigated'] += 1 %>
    <% end %>
  <% end %>
<% end %>

<% json = '{"name":"root",
            "children":[
              {
                "name":"Passed",
                "size":"'+graph_hash['passed'].to_s+'"
              },
              {"name":"Failed",
                "size":"'+graph_hash['failed'].to_s+'"'+(graph_hash['investigated'] > 0 ? ',
                "children":[
                  {
                    "name":"Investigated",
                    "size":"'+graph_hash['investigated'].to_s+'"
                  },
                  {
                    "name":"Not investigated",
                    "size":"'+(graph_hash['failed']-graph_hash['investigated']).to_s+'"
                  }
                ]' : ""  )+'}
            ]}'%>

<div class="container m-t-1 m-b-1">
  <%= link_to product_version_builds_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    Back
  <% end %>
  <%= link_to edit_product_version_build_path(@product,@version,@build), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="row">
      <div class=col-sm-6>Name:</div><div class=col-sm-6><%= @build.name %></div>
      <div class=col-sm-6>Passed:</div><div class=col-sm-6><%= graph_hash['passed'] %></div>
      <div class=col-sm-6>Failed:</div><div class=col-sm-6><%= graph_hash['failed'] %></div>
      <div class=col-sm-6>Description:</div><div class=col-sm-6><%= @build.description %></div>
    </div>
  </div>
  <div class="col-sm-5">
    <div id="main">
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
        </div>
      </div>
       <div id="sequence"></div>
    </div>
    <div id="sidebar">
      <input type="checkbox" id="togglelegend"> Legend<br/>
      <div id="legend" style="visibility: hidden;"></div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class=col-sm-2></div>
  <div class=col-sm-10>
    <div class="container">
      <% error_hash.each do |err, rlinks| %>
      <div class="row">
        <div class="row">
          <div class="col-sm-10">
            <a data-toggle="collapse" href="#<%=err%>" aria-expanded="false" aria-controls="collapseExample">
              <%=err%>(<%= rlinks.count %>)
            </a>
          </div>
        </div>
        <% rlinks.each do |key, rlink| %>
        <div class="row" id="<%=err%>">
          <div class="col-sm-3"><%= rlink.suite_name %></div>
          <div class="col-sm-3"><%= render :partial => 'reports/icon', :locals => {:report => rlink } %></div>
          <div class="col-sm-3"><%= rlink.comment %></div>
          <div class="col-sm-3"></div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class=col-sm-2></div>
</div>

<%= javascript_include_tag "builds.js" %>
<script>
  build_pie_json =`<%= raw(json) %>`;
  showPieGraph(build_pie_json);
</script>
