<table class="align width">
  <tr><td class="b0 left">
  <h2>Hosts</h2>
  </td><td class="b0 right">
  <%= link_to new_host_path, class: 'btn btn-primary pull-xs-right m-x-auto  m-l-1' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Host
  <% end %>
  </td>
  <tr>
</table>

<br><br><br><br>

<div class="table-responsive dl-horizontal">
  <table class="table">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @hosts) do |host| %>
            <td style="text-align:left !important;">&nbsp;<%= link_to host.name, product_version_host_path(@product,@version,host) %></td>
            <td><%= host.description %></td>
            <td>
            <%= link_to 'Show', product_version_host_path(@product,@version,host), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_product_version_host_path(@product,@version,host), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
