<div class="container m-t-1 m-b-1">
  <%= link_to edit_host_path(@host), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <h1>Show host</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @host.name %></dd>

  <dt>Description:</dt>
  <dd><%= @host.description %></dd>

</dl>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Build</th>
        <th>Test case</th>
        <th>Date</th>
        <th>Error</th>
      </tr>
    </thead>

    <tbody>
      <% Report.where(host_id: @host.id).desc('_id').limit(30).each do |report| %>
      <tr>
        <td><%= render :partial => 'reports/icon', :locals => {:report => report } %></td>
        <td><%= link_to report.build.name, product_version_build_path(@product, @version,report.build) %></td>
        <td><%= link_to report.test_case.name, product_version_test_case_path(@product, @version,report.test_case)  if !report.host.nil? %></td>
        <td><%= report.created_at.strftime("%d %B %H:%M") if !report.created_at.blank? %></td>
        <td class="first-col text-cut"><%= report.error %></td>
      </tr>
      <% end %>
      
    </tbody>
  </table>
</div>
