<table class="align width">
  <tr><td class="b0 left">
  <h2>Investigation results</h2>
  </td><td class="b0 right">
  <%= link_to new_investigation_result_path, class: 'btn btn-primary pull-xs-right m-x-auto m-l-1' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Investigation result
  <% end %>
  </td>
  <tr>
</table>

<br><br><br><br>

<div class="table-responsive dl-horizontal">
  <table class="table">
    <thead>
      <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th></th>
        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @investigation_results) do |investigation_result| %>
            <td style="text-align:left !important;"><%= investigation_result.name %></td>
            <td><%= investigation_result.code %></td>
            <td style="text-align:left !important;"><%= investigation_result.description %></td>
            <td>
            <%= link_to 'Show', investigation_result, class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_investigation_result_path(investigation_result), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', investigation_result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
