
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
            <th></th>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th></th>
        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
            <td><img src="<%= user.avatar.url %>" width=30 height=30  class="img-circle" ></td>
            <td><%= link_to user.email , profile_path(user) %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.role %></td>
            <td>
                <%= link_to 'Show', profile_path(user) , class: "btn btn-outline-primary btn-sm" %>
                <%= link_to 'Edit', edit_profile_path(user), class: "btn btn-primary btn-sm" if can? :update, user %>
            </td>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users %>