<dt>Reporting path:</dt>
<dd><%= report_product_version_path(@product,@version) %></dd>

<%= form_for([@product,@version], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @version.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@version.errors.count, "error") %> prohibited this version from being saved:</h4>

      <ul>
      <% @version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%= f.text_field :product_id, class: "invisible" , value: @product._id %>
  
  <div class="form-group row">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
  </div>
  <div class="form-group row">
      <%= f.label :build_name_mutator, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :build_name_mutator, class: "form-control" %>
      </div>
  </div>
  <div class="form-group row">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :description, class: "form-control" %>
      </div>
  </div>
  <div class="form-group row">
      <%= f.label :tab_icon, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <label class="fsLabel btn btn-outline-warning m-x-auto d-block m-t-1">
          <span>Upload</span>
          <%= f.file_field :tab_icon %>
        </label>
      </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  
<% end %>
