<% @builds = @version.builds.desc('_id').limit(@number_of_builds).reverse! %>
<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>
<div class="">
  <table id="big-mama" class="big-mama">
    <thead>
      <th class="first-col text-cut"></th>
      <% builds = @version.builds.desc('_id').limit(@number_of_builds).reverse! %>
      <% builds.each do |build| %>
      <% @version.build_name_mutator.blank? ? link_name=build.name : link_name=eval(@version.build_name_mutator) %>
      <th id="build-<%= build.id %>" class="build-head"><%= link_to link_name, product_version_build_path(@product,@version,build), target: "_blank" %></th>
      <% end %>
      
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr id="cat_-<%= category.id %>"> 
          <td colspan = 11 ><b><%=link_to category.name,product_version_category_path(@product,@version,category)  %> </b> </td>
        <tr>
        <% @version.test_cases.where(category_id: category.id).asc('name').each do |test_case| %>
          <tr id="test_case-<%= test_case.id %>"> 
            <td class="first-col text-cut" >&nbsp;&nbsp;<%= link_to test_case.name , product_version_test_case_path(@product,@version,test_case)%></td>
            <% builds.each do |build| %>
              <% if !build.report_links.where(test_case: test_case._id).last.nil? %>
                <% rlink = build.report_links.where(test_case: test_case._id).last %>
                <% if rlink.result %>
                  <% graph_hash[build.name]['passed'].instance_of?(Hash) ? graph_hash[build.name]['passed'] = 1 : graph_hash[build.name]['passed'] += 1 %>
                <% else %>
                  <% graph_hash[build.name]['failed'].instance_of?(Hash) ? graph_hash[build.name]['failed'] = 1 : graph_hash[build.name]['failed'] += 1 %>
                <% end %>
                <td id="cell-<%= rlink.report_id %>"> <%= render :partial => 'reports/icon', :locals => {:report => rlink } %>  </td>
              <% else %>
                <td> </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>