<table class="align width">
  <tr><td class="b0 left">
  <h2>Versions</h2>
  </td><td class="b0 right">
  <%= link_to new_product_version_path(@product), class: 'btn btn-outline-primary pull-md-left m-l-1' do %><!--m-x-auto pull-xs-right-->
    <span class="glyphicon glyphicon-plus"></span>
    New Version
  <% end %>
  </td>
  <tr>
</table>

<br><br><br><br>

<div class="table-responsive dl-horizontal">
  <table class="table">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @versions) do |version| %>
            <td style="text-align:left !important;"><%= link_to version.name, product_version_path(@product, version) %></td>
            <td style="text-align:left !important;"><%= version.description %></td>
            <td>
            <%= link_to 'Show', product_version_path(@product, version), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_product_version_path(@product, version), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', product_version_path(@product, version), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
