<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>

<div class="container m-t-1 m-b-1">
  <%= link_to new_product_version_test_case_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    New test_case
  <% end %>
  <%= link_to new_product_version_build_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    New build
  <% end %>
  <%= link_to new_product_version_category_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    New category
  <% end %>
  <%= link_to edit_product_version_path(@product,@version), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
<h1>Version <%= @version.name %> </h1>
</div>

<% @number_of_builds = 10 %>
<% @categories = @version.categories.asc('name') %>

<%= render partial: "table", locals: {version: @version, product: @product, number_of_builds: @number_of_builds, categories: @categories } %>
      
