

<% @builds = @version.builds.desc('_id').limit(10).reverse! %>
<% @suites = @version.suites %>

<% graph_hash = Hash.new{ |h,k| h[k] = Hash.new(&h.default_proc) } %>

<div class="container m-t-1 m-b-1">
  <%= link_to new_product_version_suite_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    New suite
  <% end %>
  <%= link_to new_product_version_build_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    New build
  <% end %>
  <%= link_to edit_product_version_path(@product,@version), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <h1>Version <%= @version.name %> </h1>
</div>
<div class="table-responsive ">
  <table id="big-mama" class="table table-bordered table-hover big-mama">
    <thead>
      <th></th>
      <% builds = @version.builds.desc('_id').limit(10).reverse! %>
      <% builds.each do |build| %>
      <th id="build-<%= build.id %>" class="build-head"><%= link_to build.name, product_version_build_path(@product,@version,build) %></th>
      <% end %>
      
    </thead>
    <tbody>
      <% @version.suites.desc('name').each do |suite| %>
      <tr id="suite-<%= suite.id %>"> 
        <td><%= link_to suite.name , product_version_suite_path(@product,@version,suite)%></td>
        <% builds.each do |build| %>
          <% if !build.report_links.where(suite: suite._id).last.nil? %>
            <% rlink = build.report_links.where(suite: suite._id).last %>
            <% if rlink.result %>
              <% graph_hash[build.name]['passed'].instance_of?(Hash) ? graph_hash[build.name]['passed'] = 1 : graph_hash[build.name]['passed'] += 1 %>
            <% else %>
              <% graph_hash[build.name]['failed'].instance_of?(Hash) ? graph_hash[build.name]['failed'] = 1 : graph_hash[build.name]['failed'] += 1 %>
            <% end %>
            <td id="cell-<%= rlink.report_id %>"> <%= render :partial => 'reports/icon', :locals => {:report => rlink } %>  </td>
          <% else %>
            <td> </td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
      
