<div class="table-responsive ">
  <table id="big-mama" class="table table-bordered table-hover big-mama">
    <thead>
      
    </thead>
    <tbody>
      <% data['steps'].each do |name , step| %>
      <tr>
        <td><b><%= step['keyword'] %></b></td>
        <td><%= name %></td>
        <td><%= step['status']  %></td>
        <td><%= step['exception']  %></td>
        <td>
            <% if step['embeddings'].count > 0 %>
               <% step['embeddings'].each do |key,embedding| %>
                   <img src="<%= embedding['src'] %>"/>
               <% end %>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>