<div class="row">
  <div class=col-sm-9>
    <% i = 0 %>
    <% data['steps'].each do |name , step| %>
    <div class="row" id="step_<%= i+=1 %>">
      <div class="col-sm-1">
        <%= i %>
      </div>
      <div class="col-sm-4">
        <b><%= step['keyword'] %></b> <%= name %>
      </div>
      <div class="col-sm-2">
        <span class="tag tag-<%= step['status'] == "passed" ? "success" : "danger" %>"><%= step['status']  %></span>
      </div>
      <div class="col-sm-4">
        <%= step['exception']  %>
      </div>
      <div class="col-sm-1">
        <% if !step['embeddings'].nil? %>
           <% step['embeddings'].each do |key,embedding| %>
               <img src="<%= embedding['src'] %>"/>
           <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class=col-sm-3>
    step desc
  </div>
</div>
