<table class="align width">
  <tr><td class="b0 left">
  <h2>Examples</h2>
  </td><td class="b0 right">
  <%= link_to new_example_path, class: 'btn btn-primary pull-xs-right m-x-auto m-l-1' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Example
  <% end %>
  </td>
  <tr>
</table>

<br><br><br><br>

<div class="table-responsive dl-horizontal">
  <table class="table">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Bool</th>
            <th></th>
        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @examples) do |example| %>
            <td><%= example.name %></td>
            <td><%= example.description %></td>
            <td><%= example.bool %></td>
            <td>
            <%= link_to 'Show', example, class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_example_path(example), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', example, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
