<table class="align width">
  <tr><td class="b0 left">
  <h2>Bugs</h2>
  </td><td class="b0 right">
  <%= link_to new_bug_path, class: 'btn btn-primary pull-xs-right m-x-auto m-l-1' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Bug
  <% end %>
  </td>
  <tr>
</table>

<br><br><br><br>

<div class="table-responsive dl-horizontal">
  <table class="table">
    <thead>
      <tr>
            <th>External</th>
            <th>Priority</th>
            <th>Summary</th>
            <th>Description</th>
            <th></th>
        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bugs) do |bug| %>
            <td><%= bug.external_id %></td>
            <td><%= bug.priority %></td>
            <td><%= bug.summary %></td>
            <td><%= bug.description %></td>
            <td>
            <%= link_to 'Show', bug, class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_bug_path(bug), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
