<div class="container m-t-1 m-b-1">
  <%= link_to product_version_test_cases_path(@product,@version), class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    Back
  <% end %>
  <%= link_to edit_product_version_test_case_path(@product,@version,@test_case), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <h1><%= @test_case.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @test_case.name %></dd>
  <dt>Description:</dt>
  <dd><%= @test_case.description %></dd>
  <dt>Custom params:</dt>
    <%= render :partial => 'shared/custom_params', :locals => {:custom_params => @test_case.custom_params} %>
</dl>

<div class="big-mama" data-sortable >
  <table class="table">
    <thead>
      <tr>
        <th>Build</th>
        <th>Result</th>
        <th>Host</th>
        <th>Reported at</th>
        <th>Time</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
      <% Report.where(test_case_id: @test_case.id).desc('_id').limit(30).each do |report| %>
      <tr>
        <td><%= report.build.nil? ? 'N/A' : (link_to report.build.name, product_version_build_path(@product, @version,report.build)) %></td>
        <td><%= render :partial => 'reports/icon', :locals => {:report => report } %></td>
        <td><%= link_to report.host.name, product_version_host_path(@product, @version,report.host)  if !report.host.nil? %></td>
        <td><%= report.created_at.strftime("%d %B %H:%M") if !report.created_at.blank?%></td>
        <td><%= report.total_time if !report.total_time.blank?%></td>
        <td><%= report.comment if !report.comment.blank? %></td>
      </tr>
      <% end %>
      
    </tbody>
  </table>
</div>
