<style type="text/css">
.container{max-width:1140px;width:1140px;margin-left:50px;}
</style>


<div class="row">


<table style="margin-left:65px;margin-top:7px;margin-bottom:3px;width:1055px !important;">
  <tr><td class="b0 left">
  <h2>Products</h2>
  </td><td class="b0 right">
  <%= link_to new_product_path, class: 'btn btn-primary pull-right m-l-1' do %><!-- pull-xs-right m-x-auto -->
    <span class="glyphicon glyphicon-plus"></span><i class="fa fa-plus" aria-hidden="true"></i>
    New Product
    <% end %>
  </td>
  <tr>
</table>

<br><br><br><br>

  <% @products.each_slice(4) do |group| %>
  <div class="container">
    <div class="row">
    <% group.each do |product| %>
      <div class="col-sm-3" > <!-- class="col-sm-3" style="width:250px"style="width:280px"-->
      <div class="card product-card">
        <%= link_to raw('<img class="card-img-top" src="'+product.logo.url+'" alt="">'), product %>
        <div class="card-block">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text">
            <%= link_to 'Show', product_versions_path(product), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary btn-sm"%>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </p>
        </div>
      </div>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
  
  
  
</div>