<div class="container m-t-1 m-b-1">
  <%= link_to products_path, class: 'btn btn-outline-primary pull-md-right m-l-1' do %>
    Back
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary pull-md-right' do %>
    Edit
  <% end %>
  <h1>Show product</h1>
</div>
<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @product.name %></dd>

  <dt>Description:</dt>
  <dd><%= @product.description %></dd>

  <dt>Reporting path:</dt>
  <dd><%= report_product_path(@product) %></dd>
</dl>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @product.versions) do |version| %>
        <td><%= link_to version.name, product_version_path(@product, version) %></td>
        <td><%= version.description %></td>
      <% end %>
    </tbody>
  </table>
</div>
