

<table class="align width">
  <tr><td class="b0 left">
  <h1>Show product</h1>
  </td><td class="b0 right">
  <%= link_to products_path, class: 'btn btn-outline-primary' do %> 
    Back
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %> 
    Edit
  <% end %>
  </td>
  <tr>
</table>


<br><br><br><br>

<div class="align">
  <dl class="">
  <dt>Name:</dt>
  <dd><%= @product.name %></dd>

  <dt>Description:</dt>
  <dd><%= @product.description %></dd>

  <dt>Reporting path:</dt>
  <dd><%= report_product_path(@product) %></dd>
</dl>

<br>

  <%= link_to new_product_version_path(@product), class: 'btn btn-outline-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Version
  <% end %>

</div>

<br><br>

<div class="table-responsive align">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @product.versions) do |version| %>
        <td class="left">&nbsp;<%= link_to version.name, product_version_path(@product, version) %></td>
        <td class="left">&nbsp;<%= version.description %></td>
        <td>
            <%= link_to 'Show', product_version_path(@product, version), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_product_version_path(@product, version), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', product_version_path(@product, version), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
