<div class="container m-t-1 m-b-1">
  <h2>Reports for <%= @product.name %> <%= @version.name %></h2>
</div>

<div class="container row">
<%= search_form_for @q , url: product_version_reports_path(@product,@version) ,:html => { :class => "form-inline" } do |f| %>
  <div class="form-group col-sm-3">
    <%= f.label "Test case" %>
    <%= f.search_field :test_case_name_cont, :class => "form-control" %>
  </div>
  <div class="form-group col-sm-3">
    <%= f.label "Error" %>
    <%= f.search_field :error_cont, :class => "form-control" %>
  </div>
  <div class="form-group col-sm-3 col-sm-bottom">
    <%= f.submit "Search", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
            <th>Test</th>
            <th>Result</th>
            <th>Host</th>
            <th>Error</th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @reports) do |report| %>
        <td><%= link_to report.test_case.name, product_version_test_case_path(report.build.version.product,report.build.version,report.test_case) if !report.test_case.blank? %></td>
        <td><%= render :partial => 'reports/icon', :locals => {:report => report } %> </td>
        <td><%= link_to report.host.name, product_version_host_path(report.test_case.version.product,report.test_case.version,report.host)  if !report.host.blank?%></td>
        <td><%= report.error %></td>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @reports %>