<div class="container m-t-1 m-b-1">
  <h2>Reports for <%= @product.name %> <%= @version.name %></h2>
</div>

<div class="container row">
<%= search_form_for @q , url: product_version_reports_path(@product,@version) ,:html => { :class => "form-inline" } do |f| %>
  <div class="form-group col-sm-3">
    <%= f.label "Test case" %>
    <%= f.search_field :test_case_name_cont, :class => "form-control" %>
  </div>
  <div class="form-group col-sm-3">
    <%= f.label "Error" %>
    <%= f.search_field :error_cont, :class => "form-control" %>
  </div>
  <div class="form-group col-sm-3 col-sm-bottom">
    <%= f.submit "Search", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>

<div class="table-responsive">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">Test</div> 
    <div class="col-md-3">Host</div> 
    <div class="col-md-6">Error</div> 
  </div>
  
      <%= @reports.each do |report| %>
        <div class="row">
          <div class="col-md-2"><%= render :partial => 'reports/icon', :locals => {:report => report } %> </div>
          <div class="col-md-2"><%= link_to report.test_case.name, product_version_test_case_path(@product,@version,report.test_case) if !report.test_case.blank?  %></div> 
          <div class="col-md-2"><%= link_to report.host.name, product_version_host_path(@product,@version,report.host)  if !report.host.blank?%></div> 
          <div class="col-md-6"><%= report.error %></div> 
        </div>
      <% end %>
</div>
<%= paginate @reports %>