<div class="row">

<div class="col-md-1 col-sm-1">
</div>
<div class="col-md-11 col-sm-11">
<div class="container m-t-1 m-b-1">
  <button id="<%= @report._id %>" class="btn btn-warning pull-md-right m-l-1" onclick='LoadModalWith("/investigation_form",{ id: this.id } )'>Set investigation status</button>
  <%= link_to edit_report_path(@report), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Product:</strong></div>
        <div class="col-sm-9"><%= link_to @report.build.version.product.name, @report.build.version.product %></div>
      </div>      
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Version:</strong></div>
        <div class="col-sm-9"><%= link_to @report.build.version.name, product_version_path(@report.build.version.product,@report.build.version) %></div>
      </div>      
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Build:</strong></div>
        <div class="col-sm-9"><%= link_to @report.build.name, product_version_build_path(@report.build.version.product,@report.build.version,@report.build) %></div>
      </div>      
      <% if !@report.host.nil? %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Host:</strong></div>
        <div class="col-sm-9"><%= link_to @report.host.name, product_version_host_path(@report.test_case.version.product,@report.test_case.version,@report.host) %></div>
      </div>
      <br>
      <% end %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Test case:</strong></div>
        <div class="col-sm-9"><%= link_to @report.test_case.name, product_version_test_case_path(@report.build.version.product,@report.build.version,@report.test_case) %></div>
      </div>
      <div class="row">
        <div class="col-sm-3  text-xs-right"><strong>Result:</strong></div>
        <div class="col-sm-9"><%= @report.result ? "Passed" : "Failed"  %></div>
      </div>
      <% if !@report.broken.nil? %>
      <div class="row">
        <div class="col-sm-3  text-xs-right"><strong>Broken:</strong></div>
        <div class="col-sm-9"><%= @report.broken  %></div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Reported at:</strong></div>
        <div class="col-sm-9"><%= @report.created_at.strftime("%d %B %H:%M") %></div>
      </div>
      <% if !@report.logs_location.nil? %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Logs:</strong></div>
        <div class="col-sm-9"><a href="file://<%= @report.logs_location %>"><%= @report.logs_location %></a></div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Direct link:</strong></div>
        <div class="col-sm-6"><%= link_to @hostname+show_direct_report_path(@report).to_s, show_direct_report_path(@report), :target => "_blank" %></div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row">
      <% if !@report.result %>
        <div class="col-sm-3 text-xs-right"><strong>Error:</strong></div>
        <div class="col-sm-9 text-xs-left"><pre><%= @report.error %></pre></div>
      <% end %>
      </div>
      <% if !@report.total_time.nil? %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Total time:</strong></div>
        <div class="col-sm-9"><%= @report.total_time %></div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Investigation:</strong></div>
        <div class="col-sm-9"><%= @report.investigation_result.name if !@report.investigation_result.blank? %></div>
      </div>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Comment:</strong></div>
        <div class="col-sm-9"><%= @report.comment %></div>
      </div>
      <% if !@report.user.nil? %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Last editor:</strong></div>
        <div class="col-sm-9"><%= @report.user.email %></div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-sm-3 text-xs-right"><strong>Notes:</strong></div>
        <div class="col-sm-6"><%= @report.compare_with_prev_build %></div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="text-xs-center mx-auto">
        <img class="mx-auto img-err-screen" src="<%= (@report.result or @report.broken == "true") ? "/gif/no_image.gif" : @report.screenshot %>" onclick='enlargeImage(this.src,this.src)' />
      </div>
    </div>
  </div>
  <% if !@report.attachments.nil? %>
  <div class="m-t-1 m-b-1">
    <div class="row">
      <div class="col-sm-2 text-xs-right"><strong>Attachments:</strong></div>
      <div class="col-sm-10 text-xs-left">
        <% @report.attachments.each do |attach| %>
          <% case attach.mime_type %>
            <% when "image/jpg" %>
              <span class="tag tag-pill tag-primary">
                <img class="attach-prev m-r-1" onclick='enlargeImage(this.src,this.src)' height=20 width=20 src="<%= attach.file.url %>"/><%= attach.name %>
              </span>
            <% else %>
              <span class="tag tag-pill tag-primary">
                tf<%= attach.name %>
              </span>
            <% end %>
        <% end %>      
      </div>
    </div>
  </div>
  <% end %>
<% if JSON.parse(@report.custom_params) %>
  <% cp = JSON.parse(@report.custom_params)%>
  <div class="<%= cp['data_type'] %>">
    <%= render :partial => 'data_types/'+cp['data_type'], :locals => {:data => cp} %>
  </div>
<% else %>
    Custom params are not json
    <%= @report.custom_params%>
<% end %>
</div>
</div>
</div>
<div id="largeImgPanel" onclick="this.style.display='none'">
  <img id="largeImg" />
</div>