<div class="row">

<div class="col-md-1 col-sm-1">
</div>
<div class="col-md-10 col-sm-11">
<div class="container m-t-1 m-b-1">
  <button id="<%= @report._id %>" class="btn btn-warning pull-md-right m-l-1" onclick='LoadModalWith("/investigation_form",{ id: this.id } )'>Set investigation status</button>
  <%= link_to edit_report_path(@report), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
</div>
  <div class="row">
    <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3 text-xs-right"><strong>Build:</strong></div>
      <div class="col-sm-9"><%= @report.build.version.product.name %> <%= @report.build.version.name %>.<%= @report.build.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-xs-right"><strong>Suite:</strong></div>
      <div class="col-sm-9"><%= @report.test_case.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-3  text-xs-right"><strong>Result:</strong></div>
      <div class="col-sm-9"><%= @report.result ? "Passed" : "Failed"  %></div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-xs-right"><strong>Investigation:</strong></div>
      <div class="col-sm-9"><%= @report.investigation_result.name if !@report.investigation_result.blank? %></div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-xs-right"><strong>Comment:</strong></div>
      <div class="col-sm-9"><%= @report.comment %></div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-xs-right"><strong>Notes:</strong></div>
      <div class="col-sm-6"><br><%= @report.compare_with_prev_build %></div>
      <div class="col-sm-3"></div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="text-xs-center mx-auto">
        <img class="mx-auto img-err-screen" src="<%= @report.result ? "/gif/passed.gif" : @report.screenshot %>" onclick='enlargeImage(this.src,this.src)' />
      </div>
    </div>
  </div>
<div class="m-t-1 m-b-1">
  <div class="row">
    <div class="col-sm-2 text-xs-right"><strong>Attachments:</strong></div>
    <div class="col-sm-10 text-xs-left">
      <% @report.attachments.each do |attach| %>
        <% case attach.mime_type %>
          <% when "image/jpg" %>
            <span class="tag tag-pill tag-primary">
              <img class="attach-prev m-r-1" onclick='enlargeImage(this.src,this.src)' height=20 width=20 src="<%= attach.file.url %>"/><%= attach.name %>
            </span>
          <% else %>
            <span class="tag tag-pill tag-primary">
              tf<%= attach.name %>
            </span>
          <% end %>
      <% end %>      
    </div>
  </div>
  <div class="row">
    <% if !@report.result %>
    <div class="col-sm-2 text-xs-right"><strong>Error:</strong></div>
    <% end %>
    <div class="col-sm-10 text-xs-left"><pre><%= @report.error %></pre></div>
  </div>
</div>
<% if JSON.parse(@report.custom_params) %>
  <% cp = JSON.parse(@report.custom_params)%>
  <div class="<%= cp['data_type'] %>">
    <%= render :partial => 'data_types/'+cp['data_type'], :locals => {:data => cp} %>
  </div>
<% else %>
    Custom params are not json
    <%= @report.custom_params%>
<% end %>
</div>
</div>
</div>
<div id="largeImgPanel" onclick="this.style.display='none'">
  <img id="largeImg" />
</div>