<div class="row">

<div class="col-md-1 col-sm-1">
</div>
<div class="col-md-10 col-sm-10">

<div class="container m-t-1 m-b-1">
  <button id="<%= @report._id %>" class="btn btn-warning pull-md-right" onclick='LoadModalWith("/investigation_form",{ id: this.id } )'>Set investigation status</button>
  <%= link_to edit_report_path(@report), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <%= @report.build.version.product.name %> <%= @report.build.version.name %>.<%= @report.build.name %>
</div>
  <div class="row">
    <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-3">Suite:</div>
      <div class="col-sm-9"><%= @report.suite.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Result:</div>
      <div class="col-sm-9"><%= @report.result %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Investigation:</div>
      <div class="col-sm-9"><%= @report.investigation_result.name if !@report.investigation_result.blank? %></div>
    </div>
    <div class="row">
      <div class="col-sm-3">Comment:</div>
      <div class="col-sm-9"><%= @report.comment %></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6"><br></div>
      <div class="col-sm-3"></div>
    </div>
    </div>
    <div class="col-sm-6">
      <div class="text-xs-center">
        <img class="img-fluid mx-auto" src="<%= @report.screenshot %>" onclick='LoadModalWithImg(this.src)' />
      </div>
      <div class="row">
        <div class="col-sm-3">Error:</div>
        <div class="col-sm-9"><%= @report.error %></div>
    </div>
    </div>
  </div>
<div class="container separator">
  Attachments:
  <% @report.attachments.each do |attach| %>
    <% case attach.mime_type %>
      <% when "image/jpg" %>
        <img onclick='LoadModalWithImg(this.src)' height=20 width=20 src="<%= attach.file.url %>"/>
      <% else %>
        t
      <% end %>
    
  <% end %>
</div>
<% if JSON.parse(@report.custom_params) %>
  <% cp = JSON.parse(@report.custom_params)%>
  <div class="<%= cp['data_type'] %>">
    <%= render :partial => 'data_types/'+cp['data_type'], :locals => {:data => cp, report: => @report} %>
  </div>
<% else %>
    Custom params are not json
    <%= @report.custom_params%>
<% end %>
</div>
<div class="col-md-1 col-sm-1">
</div>
</div>
<div id="imgModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
           <img src="<%= @report.screenshot %>" />
        </div>
    </div>
  </div>
</div>