<div class="row">

<div class="col-md-1 col-sm-1">
</div>
<div class="col-md-10 col-sm-10">

<div class="container m-t-1 m-b-1">
  <%= link_to edit_report_path(@report), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <%= @report.build.version.product.name %> <%= @report.build.version.name %>.<%= @report.build.name %>
</div>
  <div class="row">
    <div class="col-sm-6">
    <table>
      <tr>
        <td>Suite:</td>
        <td><%= @report.suite.name %></td>
        <td></td>
      </tr>
      <tr>
        <td>Result:</td>
        <td><%= @report.result %></td>
        <td></td>
      </tr>
      <tr>
        <td>Error:</td>
        <td><%= @report.error %></td>
        <td></td>
      </tr>
      <tr>
        <td>Investigation:</td>
        <td><%= @report.investigation_result.name if !@report.investigation_result.blank? %></td>
        <td><button id="<%= @report._id %>" class="btn btn-warning" onclick='LoadModalWith("/investigation_form",{ id: this.id } )'>Set investigation status</button><br></td>
      </tr>
      <tr>
        <td>Comment:</td>
        <td><%= @report.error %></td>
        <td><%= @report.comment %></td>
      </tr>
    </table>
    </div>
    <div class="col-sm-6">
      <img src="<%= @report.screenshot %>" />
    </div>
  </div>

<% if JSON.parse(@report.custom_params) %>
  <% cp = JSON.parse(@report.custom_params)%>
  <div class="<%= cp['data_type'] %>">
    <%= render :partial => 'data_types/'+cp['data_type'], :locals => {:data => cp} %>
  </div>
<% else %>
    Custom params are not json
    <%= @report.custom_params%>
<% end %>
</div>
<div class="col-md-1 col-sm-1">
</div>
</div>
