<div class="row">

<div class="col-md-1 col-sm-1">
</div>
<div class="col-md-10 col-sm-10">

<div class="container m-t-1 m-b-1">
  <%= link_to edit_report_path(@report), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
  <%= @report.build.version.product.name %> <%= @report.build.version.name %>.<%= @report.build.name %>
</div>
  <div class="row">
    <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-6">Suite:</div>
      <div class="col-sm-6"><%= @report.suite.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-6">Result:</div>
      <div class="col-sm-6"><%= @report.result %></div>
    </div>
    <div class="row">
      <div class="col-sm-6">Error:</div>
      <div class="col-sm-6"><%= @report.error %></div>
    </div>
    <div class="row">
      <div class="col-sm-6">Investigation:</div>
      <div class="col-sm-3"><%= @report.investigation_result.name if !@report.investigation_result.blank? %></div>
      <div class="col-sm-3"><button id="<%= @report._id %>" class="btn btn-warning btn-sm" onclick='LoadModalWith("/investigation_form",{ id: this.id } )'>Set status</button></div>
    </div>
    <div class="row">
      <div class="col-sm-6">Comment:</div>
      <div class="col-sm-6"><%= @report.comment %></div>
    </div>
    </div>
    <div class="col-sm-6">
      <img src="<%= @report.screenshot %>" />
    </div>
  </div>
<div class="container separator">&nbsp;</div>
<% if JSON.parse(@report.custom_params) %>
  <% cp = JSON.parse(@report.custom_params)%>
  <div class="<%= cp['data_type'] %>">
    <%= render :partial => 'data_types/'+cp['data_type'], :locals => {:data => cp} %>
  </div>
<% else %>
    Custom params are not json
    <%= @report.custom_params%>
<% end %>
</div>
<div class="col-md-1 col-sm-1">
</div>
</div>
