<style type="text/css">
td {border:0px; padding-left: 5px !important;height:22px;}
table {border:0px;} //width:1590px !important; 
</style>

<button id="<%= @report._id %>" class="btn btn-warning pull-md-right m-l-1" onclick='LoadModalWith("/investigation_form",{ id: this.id } )'>Set investigation status</button>
  <%= link_to edit_report_path(@report), class: 'btn btn-primary pull-md-right  m-l-1' do %>Edit<% end %>
<br><br>
<table>

<tr><td width="195px"><div class="text-xs-right"><strong>Product:</strong></div></td>
<td width="450px"><div class="text-xs-left"><%= link_to @report.build.version.product.name, @report.build.version.product %></div></td>

<td rowspan="19" width="945px"><div class="text-xs-right"> <!--805-->
<img class="mx-auto img-err-screen" src="<%= (@report.result or @report.broken == "true") ? "/gif/no_image.gif" : @report.screenshot %>" onclick='enlargeImage(this.src,this.src)' />
</div></td>

<tr><td><div class="text-xs-right"><strong>Version:</strong></div></td>
<td><div class="text-xs-left"><%= link_to @report.build.version.name, product_version_path(@report.build.version.product,@report.build.version) %></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Build:</strong></div></td>
<td><div class="text-xs-left"><%= link_to @report.build.name, product_version_build_path(@report.build.version.product,@report.build.version,@report.build) %></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Host:</strong></div></td>
<td><div class="text-xs-left"><%= @report.host ? (link_to @report.host.name, product_version_host_path(@report.test_case.version.product,@report.test_case.version,@report.host)) : 'N/A'%></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Test case:</strong></div></td>
<td><div class="text-xs-left"><%= link_to @report.test_case.name, product_version_test_case_path(@report.build.version.product,@report.build.version,@report.test_case) %></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Result:</strong></td>
<td><div class="text-xs-left"><%= @report.result ? "Passed" : "Failed"  %></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Broken:</strong></div></td>
<td><div class="text-xs-left"><%= @report.broken ? @report.broken : 'N/A' %></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Reported at:</strong></div></td>
<td><div class="text-xs-left"><%= @report.created_at.strftime("%d %B %H:%M") %></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Total time:</strong></div></td>
<td><div class="text-xs-left"><%= @report.total_time ? @report.total_time : 'N/A'%></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Investigation:</strong></div></td>
<td><div class="text-xs-left"><%= !@report.investigation_result.blank? ? @report.investigation_result.name : 'N/A'%></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Comment:</strong></div></td>
<td><div class="text-xs-left"><%= @report.comment ? @report.comment : 'N/A' %></div></td></tr>

<tr><td><div class="text-xs-right"><strong>Last editor:</strong></div></td>
<td><div class="text-xs-left"><%= @report.user ? @report.user.email : 'N/A'%></div></td></tr>

<tr><td valign="top"><div class="text-xs-right"><strong>Attachments:</strong></div></td>
<td><div class="text-xs-left">
  <% if !@report.attachments.nil? %>
      <div class="text-xs-left">
        <% @report.attachments.each do |attach| %>
          <% case attach.mime_type %>
            <% when "image/jpg" %>
              <span class="tag tag-pill tag-primary">
                <img class="attach-prev m-r-1" onclick='enlargeImage(this.src,this.src)' height=20 width=20 src="<%= attach.file.url %>"/><%= attach.name %>
              </span>
            <% else %>
              <span class="tag tag-pill tag-primary">
                tf<%= attach.name %>
              </span>
            <% end %>
        <% end %>      
              </div>
       <% else %>
  <% end %>
  <%='N/A' if @report.attachments.blank? %>
</div></td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>

</table>

<table>

<tr><td><div class="text-xs-right"><strong>Direct link:</strong></div></td>
<td><div class="text-xs-left"><%= link_to @hostname+show_direct_report_path(@report).to_s, show_direct_report_path(@report), :target => "_blank" %></div></td></tr>

<tr><td width="195px"><div class="text-xs-right"><strong>Logs:</strong></div></td>
<td width="1400px"><div class="text-xs-left"><% if !@report.logs_location.nil? %><a href="file://<%= @report.logs_location %>"><%= @report.logs_location %></a><% end %></div></td></tr>

<tr><td valign="top"><div class="text-xs-right"><strong>Error:</strong></div></td>
<td><div class="text-xs-left"><%= !@report.error.blank? ? @report.error : 'N/A' %></div></td></tr>


</table>
<br>&nbsp;<br>
<table>
<tr><td>&nbsp;</td></tr>
<tr><td width="195px"><div class="text-xs-right"><strong>Сustom_params:</strong></div></td>
<td><div class="text-xs-left"></div></td></tr>

<% if JSON.parse(@report.custom_params) %>
  <% cp = JSON.parse(@report.custom_params)%>
  <div class="<%= cp['data_type'] %>">
    <%= render :partial => 'data_types/'+cp['data_type'], :locals => {:data => cp} %>
  </div>
<% else %>
    Custom params are not json
    <%= @report.custom_params%>
<% end %>

<div id="largeImgPanel" onclick="this.style.display='none'">
  <img id="largeImg" />
</div>

</table>