<div class="row">

<div class="col-md-1 col-sm-1">
</div>
<div class="col-md-10 col-sm-10">

<div class="container m-t-1 m-b-1">
  <%= link_to edit_report_path(@report), class: 'btn btn-info pull-md-right' do %>
    Edit
  <% end %>
</div>
  Product: <% @report.build.version.product.name %>
  Version: <% @report.build.version.name %>
  Build: <%= @report.build.name %>
  Suite:<%= @report.suite.name %>
  Result:<%= @report.result %>
  Error:<%= @report.error %>
  Investigation result:<%= @report.investigation_result.name if !@report.investigation_result.blank? %>
  Comment:<%= @report.comment %>
  <button id="<%= @report._id %>" class="btn btn-warning" onclick='LoadModalWith("/investigation_form",{ id: this.id } )'>Set investigation status</button>
  

<% if JSON.parse(@report.custom_params) %>
  <% cp = JSON.parse(@report.custom_params)%>
  <div class="<%= cp['data_type'] %>">
    <%= render :partial => 'data_types/'+cp['data_type'], :locals => {:data => cp} %>
  </div>
<% else %>
    Custom params are not json
    <%= @report.custom_params%>
<% end %>
</div>
<div class="col-md-1 col-sm-1">
</div>
</div>
