<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="turbolinks-root" content="/" >
    <title>Test portal2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_includes %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top header">
    <a class="navbar-brand" href="/">Test server</a>
    <ul class="nav navbar-nav">
      <% if !@product.nil? && controller.controller_name != "products" && controller.action_name != "new" %>
        <li class="nav-item active">
          <%= link_to @product.name +' >>', @product , :class => "nav-link" %>
        </li>
        <% if !@version.nil? %>
          
          <li class="nav-item active">
            <%= link_to @version.name , product_version_path(@product,@version), :class => "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Hosts", product_version_hosts_path(@product,@version), :class => "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Test cases", product_version_test_cases_path(@product,@version), :class => "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Builds", product_version_builds_path(@product,@version), :class => "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Versions
            </a>
              <div class="dropdown-menu" aria-labelledby="Versions">
              <% @product.versions.each do |version| %>
                <%= link_to version.name, product_version_path(@product,version), :class => "dropdown-item" %>
              <% end %>
              </div>
          </li>
        <% end %>
      <% else %>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Products
      </a>
        <div class="dropdown-menu" aria-labelledby="Products">
          <% Product.each do |product| %>
            <%= link_to product.name, product_versions_path(product), :class => "dropdown-item" %>
          <% end %>
        </div>
      </li>
      <% end %>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Admin
      </a>
        <div class="dropdown-menu" aria-labelledby="Admin">
          <%= link_to "Investigation statuses", investigation_results_path, :class => "dropdown-item" %>
          <%= link_to "Logs", logs_path, :class => "dropdown-item" %>
          <%= link_to "Users", static_profiles_path, :class => "dropdown-item" %>
        </div>
      </li>
    </ul>
    <% if current_user %>
      <a class="chat-btn btn-danger" onclick="toggleChat()" title="Global chat" ><i class="fa fa-comments"></i></a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">
        <a class="btn btn-outline-info pull-xs-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
          <%= current_user.full_name %>
        </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
            <%= link_to raw("<i class=\"fa fa-user\"></i> Edit profile"), edit_user_registration_path, :title => "Account Settings" , :class => "dropdown-item" %>
            <%= link_to raw('<i class="fa fa-sign-out" aria-hidden="true"></i>Logout'), destroy_user_session_path, :method => :delete, :class => "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %> 
      <%= link_to "Login", new_user_session_path, :class => "btn btn-outline-info pull-xs-right" %>
    <% end %>
    </nav>
    <div class="fluid main-content">
      <div class="container m-t-1"><%= flash_messages %></div>
      <div class="container col-xs-0 col-md-0 col-lg-1"></div>
      <div class="container col-xs-12 col-md-12 col-lg-10">
        <%= yield %>
      </div>
      <div class="container col-xs-0 col-md-0 col-lg-1"></div>
    </div>
    <% if !current_user.nil? %>
    <!--GLOBAL ELEMENTS PART-->
      <!--// Global collaboration chat HTML-->
      <div class="chat <%= "invisible" if cookies["chat"] == "false" %>" >
        <div class="chat-title">
          <h1>Global notifications</h1>
          <h2>Supah</h2>
          <figure class="avatar">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAA1BMVEX+AAAYIGMAAAAAGUlEQVRIie3BAQ0AAADCoPdPbQ8HFAAA/wYJ9gABtUW7+gAAAABJRU5ErkJggg==" />
          </figure>
          <!--<button class="pull-xs-right">x</button>-->
        </div>
        <div class="messages">
          <div class="messages-content"></div>
        </div>
        <%= form_for @global_message, remote: true, authenticity_token: true, :html => { :class => "message-box" } do |f|%>
         <%= f.text_area :body, class: "message-input", data: {textarea: "message"}%>
         <%= f.submit "send", class: "message-submit", data: {send: "message"} %>
        <%end%>
      </div>
      <!--END OF Global collaboration chat HTML-->
      <!--Global modal HTML-->
      <div class="modal fade" id="globalModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
              body
            </div>
            <div class="modal-footer">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
      <!--END OF Global modal HTML-->
      <!--Global slider HTML-->
        <div id="slider" class="slider">
          <div class="slider-loader">
                <div class="loader"></div>            
          </div>
          <div id="slider-content" class="slider-content"></div>
          <div class="closebtn" onclick="closeSlider()"><i class="fa fa-arrow-circle-o-right facentered arrow"></i></div>
        </div>
        <div class="openbtn" onclick="openSlider()"><i class="fa fa-arrow-circle-o-left facentered arrow m-l-1"></i></div>
        
      
      <!--END OF Global slider HTML-->
      
    <!--END OF GLOBAL ELEMENTS PART-->
    <% end %>
  </body>
</html>